# Python
*.pyc
*~
__pycache__

# Env
.Env
scmods/
myvenv/
venv/

#Database
db.sqlite3

# Static folder at project root
/static/

# macOS
._*
.fseventsd
.Spotlight-V100

# Visual Studioo
.vscode/
.history/
*.code-workspace